<div class="flex felx-col  px-6 py-6 mx-auto lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0  xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <button class="block ml-auto text-white bg-blue-500 hover: bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark: bg-blue-600 dark:hover: bg-blue-700 dark:focus: bg-blue-800">Logout</button>
    </div>
</div>
<div class="flex felx-col  px-6 py-6 mx-auto  lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0  xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <button class="block ml-auto text-white bg-blue-500 hover: bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark: bg-blue-600 dark:hover: bg-blue-700 dark:focus: bg-blue-800">Logout</button>
    </div>
</div> 
